@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    Margin: 0px;
    Padding: 0;
    Box-sizing: border-box;
    Text-decoration: none !important;
    List-style: none;
    font-family: 'Roboto', sans-serif;
}

a {
    color: white !important
}

.navbar {
    margin: 0% 0% !important;
    width: 100vw !important;
    background-color: rgba(0, 0, 0, 0.938) !important;
}

.nav-link {
    margin: 7px !important
}

.navbar-light .navbar-toggler {
    color: white !important;
}

body {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.encabezado-redes {
    display: flex;
    background-color: rgba(34, 34, 34, 0.945);
    width: 100vw;
    justify-content: space-around;
    align-items: center;

}

.p-header {
    color: whitesmoke;
    width: 70vw;
    font-size: 30px;
    text-align: center;
    margin: 0%;
    padding: 10px 5px;
    text-shadow: 4px 4px 4px black;
}

body header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0);
    height: 160px;
    width: 100%;
    z-index: 9999
}


header ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    padding: 1vh 1vh;
}

header li {
    border-radius: 5px;
}

li a {
    color: rgb(238, 238, 238);
    margin: 2vh;
    text-transform: uppercase;
}

.redes img {
    width: 25px;
    height: 25px;
}

.main-index {
    background-color: rgba(0, 0, 0);
    height: 120vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.main-index img {
    height: 90vh;
    border-radius: 9%;
    padding: 1vh 5vw;
}

.carteles-main-index {
    background-color: rgb(37, 37, 37);
    height: 30%;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cartelitos-main-index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 25vw;
}

.cartelitos-main-index p {
    font-size: 20px;
    font-weight: bold;
    padding: 19px;
    text-align: center;
    margin: 0px;
    color: rgb(252, 252, 252);
}

.cartelitos-main-index:nth-child(odd) {
    background-color: rgb(104, 104, 104);
}


body footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100%;
}

footer p {
    color: white;
}

footer ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

footer li {
    font-size: 15px;
    color: white;
    margin: 1vh;
}

                        /* HOJA DE MARCAS */

.main-marcas {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
}

.main-marcas img {
    width: 100%;
    height: auto;
}

.main-marcas p {
    font-weight: bold;
}

.honda {
    background-color: rgb(201, 199, 199);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% 90%;
}

.main-marcas h2 {
    grid-column: span 4;
    text-align: center;
    padding: 1vh;
    font-weight: bold;
    text-shadow: 8px 8px 8px;
}

.xr {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px;

}

.cbr {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px;

}

.seis {
    grid-row: 2/3;
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px;

}

.monkey {
    grid-row: 2/3;
    grid-column: 4/5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px;

}


.yamaha {
    background-color: rgb(185, 183, 183);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% 90%;
}

.xtz {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px;

}

.runo {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px;

}

.scooteryh {
    grid-row: 2/3;
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.mt {
    grid-row: 2/3;
    grid-column: 4/5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.ktm {
    background-color: rgb(201, 199, 199);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% 90%;
}

.ktmoff {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.pc {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.ktmnaked {
    grid-row: 2/3;
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.ktmtravel {
    grid-row: 2/3;
    grid-column: 4/5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px;
}

                        /* HOJA DE NOSOTROS */

.main-nosotros {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

.texto {
    grid-column: 1/2;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: justify;
    padding: 5vh;
}

.texto p {
    margin: 2vh;
}

.imgnosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;


}

.imgnosotros img {
    width: 80%;
    height: 40%;

}

                    /* HOJA DE CONTACTO */

.contacto {
    background-image: url(assets/3840x2400_motorcycle-bike-road-trees-landscape-moto.jpg);
    background-size: cover;

    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 19px;
}

.formularios {
    display: flex;
    flex-direction: column;
}

.texto-contacto {
    width: 70vw;
}

.texto-contacto p {
    text-align: center;
}

.formularios {
    background-color: rgba(255, 255, 255, 0.61);
    margin: 5vh;
    height: 5vh;
    width: 40vh;
    font-size: 17px;
    border-radius: 4px;
    border: 1px black solid;
    padding-left: 10px;
}

.suconsulta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

textarea {
    background-color: rgba(255, 255, 255, 0.61);
    height: 80%;
    width: 40vh;
    font-size: 17px;
    border-radius: 4px;
    border: 1px black solid;
    padding: 10px;
}

.submit {
    height: 5vh;
    width: 20vh;
    border-radius: 4px;
    border: 1px black solid;
}

/* HOJA DE UBICACIÓN */

.ubi {
    height: 100vh;
    width: 100vw;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ubicacion {
    display: flex;
    justify-content: center;
    background-color: grey;
    width: 70%;
    height: 70%;
    border-style: none;
    border-radius: 4px;
    padding-bottom: 25px;
}

.ubi p {
    height: 80px;
    width: 60vw;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 2vh
}

a {
    padding-right: 8%;
    padding-left: 8%;
}

/* Animaciones y Transiciones */
a:hover {
    background-color: rgb(92, 91, 91);
    transition: 0.5s;
    border-radius: 5px;
}

.honda div:hover {
    transform: scale(1.05);
    background-color: rgba(107, 107, 107, 0.61);
    transition: 0.3s;
    border-radius: 80%
}

.yamaha div:hover {
    transform: scale(1.05);
    background-color: rgba(107, 107, 107, 0.61);
    transition: 0.3s;
    border-radius: 80%
}

.ktm div:hover {
    transform: scale(1.05);
    background-color: rgba(107, 107, 107, 0.61);
    transition: 0.3s;
    border-radius: 80%
}


/* Media query */
@media screen and (max-width: 999px) {
    .carteles-main-index {
        height: 30%;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .main-index {
        height: auto;
    }

    .cartelitos-main-index {
        height: 200px;
        width: 50vw;
    }

    .cartelitos-main-index p {
        font-size: 18px;
    }

    .cartelitos-main-index:nth-child(4n) {
        background-color: rgb(104, 104, 104);
    }

    .cartelitos-main-index:nth-child(3) {
        background-color: rgba(104, 104, 104, 0);
    }
}

@media screen and (max-width: 600px) {

    .cartelitos-main-index {
        height: 100px;
        width: 100vw;
    }

    .cartelitos-main-index p {
        font-size: 13px;

    }

    .cartelitos-main-index:nth-child(2n) {
        background-color: rgba(104, 104, 104, 0);
    }

    .cartelitos-main-index:nth-child(3) {
        background-color: rgb(104, 104, 104);
    }

}

@media screen and (max-width: 768px) {
    .navbar {
        background-color: rgb(112, 110, 110) !important;
    }

    body {
        height: auto;
    }

    body header {
        background-color: rgba(0, 0, 0, 0.938);
        height: 103px;
        width: 100vw;
    }

    ul.navbar-nav {
        align-items: center !important;
        margin-right: 0% !important;
        padding-right: 0% !important;
    }

    div.navbar-collapse {
        display: flex;
        flex-direction: column;

    }

    .p-header {
        width: 50vw;
        font-size: 18px;
    }

    .main-index img {
        height: 60vh;
        padding: 1vh 1vw;
    }

    li a {
        color: rgb(238, 238, 238);
        margin-top: 0px;
        font-size: 13px;
    }

    .redes img {
        width: 20px;
        height: 20px;
    }

    body footer {
        height: auto;
    }

    footer ul {
        height: 100%;
        width: 60%;
        overflow-x: auto;
    }

    footer p {
        padding-left: 2vh;
        font-size: 12px;
    }

    footer li {
        font-size: 11px;
        color: white;
        margin: 1vh;
    }


    .main-index {
        display: flex;
        flex-direction: column;
    }

    .imgprincipal {
        height: 50vw;
        width: 100%;
    }

    .main-marcas h2 {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .honda {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 10% 40% 40%;
    }

    .xr {
        grid-row: 2/3;
        grid-column: 1/2;
        padding: 2vh;
    }

    .cbr {
        grid-row: 2/3;
        grid-column: 2/3;
        padding: 2vh;
    }

    .seis {
        grid-row: 3/4;
        grid-column: 1/2;
        padding: 2vh;
    }

    .monkey {
        grid-row: 3/4;
        grid-column: 2/3;
        padding: 2vh;
    }

    .yamaha {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 10% 40% 40%;
    }

    .xtz {
        grid-row: 2/3;
        grid-column: 1/2;
        padding: 2vh;
    }

    .runo {
        grid-row: 2/3;
        grid-column: 2/3;
        padding: 2vh;
    }

    .scooteryh {
        grid-row: 3/4;
        grid-column: 1/2;
        padding: 2vh;
    }

    .mt {
        grid-row: 3/4;
        grid-column: 2/3;
        padding: 2vh;
    }

    .ktm {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 10% 40% 40%;
    }

    .ktmoff {
        grid-row: 2/3;
        grid-column: 1/2;
        padding: 2vh;
    }

    .pc {
        grid-row: 2/3;
        grid-column: 2/3;
        padding: 2vh;
    }

    .ktmnaked {
        grid-row: 3/4;
        grid-column: 1/2;
        padding: 2vh;
    }

    .ktmtravel {
        grid-row: 3/4;
        grid-column: 2/3;
        padding: 2vh;
    }

    .texto p {
        font-size: 14px;

    }

    .main-nosotros {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .img-nosotros {
        padding: 1vh;
    }

    .imgnosotros img {
        width: 70%;
        height: 50%;
        margin: 1vh;
    }

    .contacto {
        font-size: 14px;
        padding: 15px;
        height: auto;
    }

    .formularios {
        display: flex;
        flex-direction: column;

    }

    .formularios {
        margin: 4vh;
        height: 4vh;
        width: 40vh;
        font-size: 14px;
    }

    .suconsulta {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    textarea {
        height: 20vh;
        width: 40vh;
        margin: 4vh;
        font-size: 14px;
    }

    .submit {
        height: 5vh;
        width: 20vh;
    }


    .ubi p {
        height: auto;
        width: 90vw;
        font-size: 16px;
        padding: 3vh 3vh;

    }

    .ubi {
        height: 100vh;
    }
}

@media screen and (max-width: 900px) {
    .main-index img {
        height: 70vh;
    }
}
@media screen and (max-width: 450px) {
    .main-index img {
        height: 40vh;
    }
}
@media screen and (max-width: 379px){
    header{
        height: 130px !important;
        width: 100vw;
    }
    .ubi {
        height: 140vh !important;
        align-content: space-around;
    }
    .ubi p{
        height: auto !important;
    }
}