@import "./partials/_variables";

.main-nosotros {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    background-color: grey;

    .texto {
        grid-column: 1/2;
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        text-align: justify;
        padding: 5vh;

        p {
            margin: 2vh;
        }
    }

    .imgnosotros {
        grid-column: 2/2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;  
        
        img {
            width: 50vw;
            height: auto;
            margin: 3vh 3vw;
            box-shadow: $box-shadow-sombras
        }
    }
    
}
