.main-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.img-nosotros {
    padding: 1vh;
}

.imgnosotros img {
    width: 70%;
    height: 50%;
    margin: 1vh;
}