@media screen and (max-width: 768px) {

    body {

        .contacto {
            font-size: 14px;
            padding: 15px;
            height: auto;

            .texto-contacto {
                padding: 1vh 1vw !important;

                p {
                    padding: 1vh 1vw;
                    text-align: center;
                }
            }
            .suconsulta {
                height: auto;
                margin-bottom: 4vw;

                textarea {
                    height: 200px;
                    width: 70vw;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {

    body {

        .contacto {

            .formularios {
                height: 30px;
                width: 70vw;
                margin: 3vh 0vw;
            }

            .suconsulta {
                height: auto;
                margin-bottom: 4vw;
            }
        }
    }
}
